# THE SECOND "NOTEBOOK" IS BELOW, FROM "PROCESSING"
# Requirements
#### The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

In [84]:
import pandas as pd
import requests

url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
r = requests.get(url)#, headers=header)
dataframes=pd.read_html(r.text, header=0)
raw_data = dataframes[0]
raw_data.shape

(180, 3)

#### Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [85]:
raw_data = raw_data.loc[raw_data.Borough != "Not assigned",:]
raw_data.shape

(103, 3)

#### More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

#### If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [86]:
raw_data.Neighborhood.loc[raw_data.Neighborhood == "Not assigned"]

Series([], Name: Neighborhood, dtype: object)

They all have assign a Neighborhood

#### Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.

#### In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [87]:
raw_data.shape

(103, 3)

# PROCCESSING

In [88]:
import pandas as pd

In [89]:
cod = pd.read_csv("http://cocl.us/Geospatial_data")

In [90]:
cod

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [101]:
raw_data.sort_values("Postal Code", ascending=True)

,Postal Code,Borough,Neighborhood
9,M1B,Scarborough,"Malvern, Rouge"
18,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
27,M1E,Scarborough,"Guildwood, Morningside, West Hill"
36,M1G,Scarborough,Woburn
45,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9N,York,Weston
107,M9P,Etobicoke,Westmount
116,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
143,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
152,M9W,Etobicoke,"Northwest, West Humber - Clairville"

In [102]:
data1 = raw_data.copy()
data2 = cod.copy()

In [104]:
data1.set_index("Postal Code", inplace=True)
data2.set_index("Postal Code", inplace=True)

In [143]:
data = pd.concat([data1,data2], axis=1)

In [144]:
data.reset_index(inplace=True)

In [145]:
data

,index,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
...,...,...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
99,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C...",43.662744,-79.321558
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.636258,-79.498509
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.628841,-79.520999